<%- include('../partials/header') %>


<main class="main" id="main">
    <div class="container">
        <img src="https://gifdb.com/images/high/madea-498-x-403-gif-9jk8axvr0wfwz5uq.gif" alt="This page does not exist">
    </div>
</main>
<%- include('../partials/footer') %>