<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <div class="div" id="div">
            <div class="joke-of-th-day-div">
                <h2 class="text-center setup">
                    <%= joke.setup %>
                </h2>
                <p class="p" id="p">
                    <%= joke.punchline %>
                </p>
                <p class="p" id="p">
                    For more jokes,
                    <a href="/jokes" class="a" id="a">click here</a> 
                    <!-- Anchor (<a><a>) clickable link that takes you to another website -->
                </p>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>